body{
    margin-top: 10%;text-align: center; background-image: url(https://get.pxhere.com/photo/light-wood-night-restaurant-menu-darkness-room-lighting-lightbulb-interior-design-stage-design-6261.jpg);background-size: 100%;color: aliceblue;
    font-size: x-large;
}
table{
    margin-left: 35.5%; background-color:  rgb(237, 152, 54); color:rgb(108, 73, 10);border-radius: 25px; 
}
h1 {
    font-style: italic; color: rgb(239, 201, 154);
}
button{
    padding: 1%; background-color: rgb(237, 152, 54);border-color: transparent; color: aliceblue; border-radius: 25px;
}